body {
	background-image: url(../images/background.png);
}

#header {
	background-color: orange;
	width: 187px;
	margin-top: 20px;
	margin-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 5px;
	padding-left: 10px;
	font-size: 25px;
}

#main {
	background-color: beige;
	width: 300px;
	padding: 15px;
	margin: 10px;
	padding-bottom: 50px;
}

#announce {
	background-color: green;
	width: 150px;
	padding: 5px;
	margin-left: 10px;
}

#images {
	margin-left: 10px;
 	display: inline-block;
 	margin-bottom: 10px;
 	margin-top: 10px;
}

#img1{
	background-color: white;
	float: right;
	margin: 5px;
}

#img2{
	background-color: white;
	float: right;
	margin: 5px;
}

#img3{
	background-color: white;
	float: right;
	margin: 5px;
}

#img4{
	background-color: white;
	float: right;
	margin: 5px;
}

#box {
	margin-left: 10px;
 	display: inline-block;

}

#winloss {
	background-color: green;
	float: right;
	padding: 50px;
 	width: 50px;
}

#random {
	background-color: blue;
	float: right;
	padding: 50px;
 	width: 5px;
 	margin-left: 5px;
}

#number {
	background-color: green;
	padding: 50px;
 	width: 100px;
 	margin: 10px;
}